---
layout: null
permalink: amp-collection.html
---
<!DOCTYPE html>
<html ⚡="">
  <head>
    <meta charset="utf-8" />
    <title>Gift Reviews Collection</title>
    <link rel="canonical" href="/" />
    <meta name="viewport" content="width=device-width" />
    <meta name="amp-google-client-id-api" content="googleanalytics" />

    <script async="" src="https://cdn.ampproject.org/v0.js"></script>

  {% include amp/css.html %}
  {% include head_script.html %}

  </head>
  <body>
 {% include navbar.html %}
 
    <main id="content" role="main" class="">
      <article class="recipe-article">
        <header>
          <span class="ampstart-subtitle block px3 pt2 mb2">FOOD</span>
          <h1 class="mb1 px3">Gift for Grandma</h1>

          <!-- Start byline -->
          <address class="ampstart-byline clearfix mb4 px3 h5">
            <time
              class="ampstart-byline-pubdate block bold my1"
              datetime="2016-12-13"
              >December 13, 2016</time
            >
          </address>
          <!-- End byline -->
          <p class="mb4 px3">Nanny, Mimi, Mamaw, Memaw, whatever you call her, nothing is better than a grandma. Grandmas are always there. Love, attention, affection, treats mom and dad won’t let us have! Grandmas give us so much. So let’s give our favorite family member something back. We have 50 Christmas gifts for grandma to make her holiday.</p>
          <p class="mb4 px3">Nanny, Mimi, Mamaw, Memaw, whatever you call her, nothing is better than a grandma. Grandmas are always there. Love, attention, affection, treats mom and dad won’t let us have! Grandmas give us so much. So let’s give our favorite family member something back. We have 50 Christmas gifts for grandma to make her holiday.</p>

          <h2 class="mb1 px3">Here are 30+ gifts for grandma</h2>

          <ol class="mb4 px3">
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li>and more ...</li>
          </ul>

          <amp-img
            src="{{ site.url }}img/blog/spritzer.jpg"
            width="900"
            height="600"
            layout="responsive"
            alt="The final spritzer"
            class="mb4 mx3 mt3"
          ></amp-img>
        </header>
        <p class="mb4 px3">
          Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
          quis gravida magna mi a libero. Fusce vulputate eleifend sapien.
          Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
          Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit
          fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et
          ultrices posuere.
        </p>

        <p class="mb4 px3">
          Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
          ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
          consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
          ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
          pretium libero.
        </p>
     

       

          <section class="recipe-popular-articles">
            <h2 class="mb4">Popular Gifts</h2>

            
          </section>

          <!-- Soial link -->
          {% include social-links.html %}

          <section>
            <h2 class="mb3">Categories</h2>
            <ul class="list-reset p0 m0 mb4">
              <li class="mb2">
                <a href="#" class="text-decoration-none h3">Fashion</a>
              </li>
              <li class="mb2">
                <a href="#" class="text-decoration-none h3">Travel</a>
              </li>
              <li class="mb2">
                <a href="#" class="text-decoration-none h3">Decor</a>
              </li>
              <li class="mb2">
                <a href="#" class="text-decoration-none h3">Beauty</a>
              </li>
            </ul>
        </section>
      </article>
    </main>

    {% include footer.html %}
  </body>
</html>
