---
layout: null
permalink: collection.html
image: "/img/party.svg"
author: "Sam Thomas"
---
<!DOCTYPE html>
<html ⚡="">
  <head>
    <meta charset="utf-8" />
    <title>Gifts Reviews Collection</title>
    <link rel="canonical" href="/collection.html" />
    <meta name="viewport" content="width=device-width" />
    <meta name="amp-google-client-id-api" content="googleanalytics" />
    <meta name="description" content="Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris." />

    <script async="" src="https://cdn.ampproject.org/v0.js"></script>

  {% include amp/css.html %}
  {% include head_script.html %}


<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://google.com/article"
      },
      "headline": "{{ page.title }}",
      "image": {
        "@type": "ImageObject",
        {% if page.image %}
        "url": "{{ page.image }}",
        {% else %}
        "url": "https://www.mageplaza.com/assets/img/mageplaza-default-banner.jpg",
        {% endif %}
        "width": 954,
        "height": 259
    },
 {% if page.author %}
        "author": {
        "@type": "Person",
        "name": "{{ page.author }}"
      },
    {% else %}
        "author": {
        "@type": "Person",
        "name": "Sam Thomas"
      },
    {% endif %}
       "datePublished": "{{ page.date | date: '%B %d, %Y' }}",
 "dateCreated": "{{ page.date | date: '%B %d, %Y' }}",
 "dateModified": "{% assign year = (page.date | date: "%Y") %}{% if year != "{{ site.time | date:"%Y" }}" %}{{ page.date | date: '%B %d,' }} {{ site.time | date:"%Y" | minus:1 }} {% else %}{{ page.date | date: '%B %d, %Y' }}{% endif %}",
       "publisher": {
      "@type": "Organization",
      "name": "Mageplaza",
      "logo": {
              "@type": "ImageObject",
              "url": "https://www.mageplaza.com/skin/frontend/mageplaza/landingpage/images/logo.png",
              "width": 189,
              "height": 164
          }
    },
    }
    </script>

  </head>
  <body>
 {% include navbar.html %}

    <main id="content" role="main" class="">
      <article>
        <header>
          <span class="ampstart-subtitle block px3 pt2 mb2">Gifts > Grandma</span>
          <h1 class="mb1 px3">Gifts for Grandma</h1>

          <!-- Start byline -->
          <address class="ampstart-byline clearfix mb4 px3 h5">
            <time class="ampstart-byline-pubdate bold my1"
              datetime="2016-12-13"\>Last Updated on December 13, 2016</time>
              <span class="right">By <a href="{{ site.url }}/author.html">Sam Thomas</a></span>
          </address>
          <!-- End byline -->
          <p class="mb4 px3">Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.</p>
          <p class="mb4 px3">Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.</p>



          <h2 class="mb1 px3">Here are 30+ gifts for grandma</h2>

          <ol class="mb4 px3 mx4">
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li><a href="#">Gift #1: Birthstone Necklace</a></li>
            <li>and 20+ more ...</li>
          </ol>

          <amp-img
            src="{{ site.url }}/img/cook.svg"
            width="900"
            height="450"
            layout="responsive"
            alt="The final spritzer"
            class="mb4 mt3"
          ></amp-img>
        </header>





<div class="container">

        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->

        
        <!-- Start -->
        <div class="product-item-row row mb4">
          <div class="col-sm-12 col-lg-4">
                      <amp-img
                    src="{{ site.url }}/img/party.svg"
                    width="500"
                    height="333"
                    layout="responsive"
                    alt="The final spritzer"
                    class=" mt3"
                  ></amp-img>
          </div>
          <div class="col-sm-12  col-lg-8">
             <p class="mt4 mb4 px3">
                Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
                  ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
                  consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
                  ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
                  pretium libero.
             </p>
             <p class="mb4 px3">
               <a href="#" class="ampstart-btn">Buy on Amazon.com</a>
             </p>
            
          </div>
        </div>
        <!-- End -->






</div><!-- end container -->



          <!-- Social link -->
          {% include social-links.html %}





       

          <section class="related-articles mt5">
            <h2 class="mb4 mt5 px3">Related Gifts</h2>



        
          <!-- Start -->
              <div class="row">
                <div class="col-sm-12 col-lg-2">
                   <amp-img
                      src="{{ site.url }}/img/party.svg"
                      width="200"
                      height="133"
                      layout="responsive"
                      alt="The final spritzer"
                      class="mt3"
                    ></amp-img>
                </div>
                <div class="col-sm-12 col-lg-10">
                  <h3 class="mt4 mb4 px4">35+ Gifts for Daddy </h3>
                </div>
              </div>
          <!-- End -->

          <!-- Start -->
              <div class="row">
                <div class="col-sm-12 col-lg-2">
                   <amp-img
                      src="{{ site.url }}/img/party.svg"
                      width="200"
                      height="133"
                      layout="responsive"
                      alt="The final spritzer"
                      class="mt3"
                    ></amp-img>
                </div>
                <div class="col-sm-12 col-lg-10">
                  <h3 class="mt4 mb4 px4">35+ Gifts for Daddy </h3>
                </div>
              </div>
          <!-- End -->


          
          <!-- Start -->
              <div class="row">
                <div class="col-sm-12 col-lg-2">
                   <amp-img
                      src="{{ site.url }}/img/party.svg"
                      width="200"
                      height="133"
                      layout="responsive"
                      alt="The final spritzer"
                      class="mt3"
                    ></amp-img>
                </div>
                <div class="col-sm-12 col-lg-10">
                  <h3 class="mt4 mb4 px4">35+ Gifts for Daddy </h3>
                </div>
              </div>
          <!-- End -->

          </section>
          <!-- End related -->

          <section>
            <h2 class="mb3 mt4 px3">Categories</h2>
            <ul class="list-reset p0 m0 mb4 px3">
              <li class="mb2">
                <a href="#" class="text-decoration-none h3">For Mom</a>
              </li>
              <li class="mb2">
                <a href="#" class="text-decoration-none h3">For Dad</a>
              </li>
              <li class="mb2">
                <a href="#" class="text-decoration-none h3">For Grandma</a>
              </li>
              <li class="mb2">
                <a href="#" class="text-decoration-none h3">For Grandpa</a>
              </li>
            </ul>
        </section>
      </article>
    </main>

    {% include footer.html %}
  </body>
</html>
