---
layout: null
permalink: "/"
---
<!DOCTYPE html>
<html ⚡="">
  <head>
    <meta charset="utf-8" />
    <title>Gifts Reviews</title>
    <link rel="canonical" href="/" />
    <meta name="viewport" content="width=device-width" />
    <meta name="amp-google-client-id-api" content="googleanalytics" />

    <script async="" src="https://cdn.ampproject.org/v0.js"></script>

  {% include amp/css.html %}
  {% include head_script.html %}

  </head>
  <body>
 {% include navbar.html %}

    <main id="content" role="main" class="main-home">
      <article>
        <header>

			<div class="container">

			<!-- hero -->	
			<div class="ampstart-fullpage-hero">	
				<h1 class="ampstart-fullpage-hero-heading mb1 mt4 px3 center">Life is short. Time is fast.</h1>
				<h2 class="center">Let's party</h2>
				<amp-img
                    src="{{ site.url }}/img/home.svg"
                    width="900"
                    height="500"
                    layout="responsive"
                    alt="{{site.title}}"
                    class=" mt3"
                  ></amp-img>
			</div>

	        <!-- end hero -->


	        <!-- List products -->

	        <div class="row">

	        {% assign collections = (site.productcollections ) %}
              {% for item in collections %}

        	<!-- Item -->
			  <div class="col-lg-4 col-sm-12 ">
			   	<div class="product-item pb2 m2">
			   		<a href="#"><amp-img
                      src="{{item.image}}"
                      width="200"
                      height="133"
                      layout="responsive"
                      alt="{{item.title}}"
                      class=""
                    ></amp-img>
				  	<h3 class="ml2 truncate">{{item.title}}</h3>
				    <p class="m2">
				    	{{item.description}}
				    </p>
				    </a>
			   	</div>
			  </div>
			  <!-- end Item -->
			  {% endfor %}
			  
	        	
			  
			  


			</div>

			</div><!-- end container -->

       

      </article>
    </main>

    {% include footer.html %}
  </body>
</html>
