    <!-- Start Footer -->
    <footer class="ampstart-footer flex flex-column items-center px3">
      <nav class="ampstart-footer-nav">
        <ul class="list-reset flex flex-wrap mb3">
          <li class="px1">
            <a class="text-decoration-none ampstart-label" href="{{ site.url }}/abount.html">About</a>
          </li>
          <li class="px1">
            <a class="text-decoration-none ampstart-label" href="{{ site.url }}/contact.html">Contact</a>
          </li>
          <li class="px1">
            <a class="text-decoration-none ampstart-label" href="{{ site.url }}/tos.html">Terms</a>
          </li>
        </ul>
      </nav>
      <small> Copyright {{ site.name }} © {{ site.time | date:"%Y" }} </small>
    </footer>
    <!-- End Footer -->