{% include head.html %}
{% include amp/css.html %}
{% include head_script.html %}
{% include schema-article.html%}

  </head>
  <body>
 {% include navbar.html %}

    <main id="content" role="main" class="">
      <article>
        <header>
          <span class="ampstart-subtitle block px3 pt2 mb2">
            <a href="{{ site.url }}gifts/">Gifts</a> >
            <a href="{{ site.url }}{{ page.category_permalink }}">{{ page.category_title }}</a> >
            <a href="{{ site.url }}{{ page.topic_permalink }}">{{ page.topic_title }}</a>
          </span>
          <h1 class="mb1 px3">{% if page.h1-title %}{{ page.h1-title }}{% else %}{{ page.title }}{% endif %}</h1>

          <!-- Start byline -->
          <address class="ampstart-byline clearfix mb4 px3 h5">
            <time class="ampstart-byline-pubdate bold my1"
              datetime="{{ page.updatedAt | date: '%Y-%m-%d' }}">Last Updated on {{ page.updatedAt | date: '%B %d, %Y' }}</time>
              <span class="right">By <a href="{{ site.url }}/author/{{ page.author_key }}/">{{ page.author }}</a></span>
          </address>
          <!-- End byline -->
        
          <div class="mb4 px3">{{ content | markdown }}</div>

          <h2 class="mb1 px3">Here are {{ page.item_count }} gifts for grandma</h2>

          {% assign items = (site.productitems | where:"collection_id", page.key | reverse) %}
          <!-- TOC -->
          <div class="table-of-content">
            <ol class="mb4 px3 mx4">
              <!-- //Limit 10 -->
              {% for item in items limit:9 %}
              <li><a href="#{{ item.slug }}">{{ item.title }}</a></li>
              {% endfor %}
              <li>and more ...</li>
            </ol>
          </div>
          <!-- END TOC -->

          <amp-img
            src="{{ page.image }}"
            width="900"
            height="600"
            alt="{{ page.title }}"
            class="mb4 mt3"
            layout="flex-item"
          ></amp-img>
        </header>


        <div class="container">
          {% include review/gift_items.html %}
        </div><!-- end container -->



          <!-- Social link -->
          {% include social-links.html %}

          <section class="related-articles mt5">
            <h2 class="mb4 mt5 px3">Related Gifts</h2>

        {% assign items = (site.productcollections | where:"topic", page.topic  | reverse) %}

        {% for item in items limit:6 %}
          <!-- Start -->
              <div class="row product-item mb3">
                
                <div class="col-sm-12 col-lg-2 ">
                  <a href="{{site.url}}{{item.permalink}}">
                   <amp-img
                      src="{{item.image}}"
                      width="200"
                      height="133"
                      layout="responsive"
                      alt="{{item.title}}"
                      class="mt3"
                    ></amp-img>
                  </a>
                </div>
                <div class="col-sm-12 col-lg-10">
                  <a href="{{site.url}}{{item.permalink}}"><h3 class="mt4 mb4 px4">{{item.title}}</h3></a>
                </div>
              </div>
          <!-- End -->
          {% endfor %}


          </section>
          <!-- End related -->

          <section>
            <h2 class="mb3 mt4 px3">Categories</h2>
            <ul class="list-reset p0 m0 mb4 px3">
            {% assign items = (site.productcategories ) %}
              {% for item in items limit:6 %}
              <li class="mb2">
                <a href="{{ item.url }}" class="text-decoration-none h3">{{ item.title }}</a>
              </li>
              {% endfor %}
            </ul>
        </section>
      </article>
    </main>

    {% include footer.html %}
  </body>
</html>
