{% assign items = (site.productitems | where:"collection_id", page.key | reverse) %}

{% for item in items %}

<!-- Start -->
    <div class="product-item-row row" id="{{ item.slug}}">
      <div class="col-sm-12 col-lg-6 mb4 mt4 fixed-container">
         <a href="{{item.product_url}}" target="_blank" rel="nofollow">
          <amp-img 
              src="{{ item.product_image }}"
              srcset="{{ item.srcset }}"
              alt="{{ item.title }}"
              layout="fill"
              class="contain"
              ></amp-img>
            </a>
      </div>
      <div class="col-sm-12  col-lg-6">
      <h3 class="ml2 mt2"><a href="{{item.product_url}}" target="_blank" rel="nofollow">{{ forloop.index }}. {{ item.title }}</a></h3>
         <p class="mt4 mb4 px3">
           {{ item.content }}
         </p>
         <p class="mb4 px3">
          {% if item.vendor %}
           <a href="{{item.product_url}}" class="ampstart-btn" target="_blank" rel="nofollow">Buy on {{ item.vendor }}</a>
           {% else %}
            <a href="{{item.product_url}}" class="ampstart-btn" target="_blank" rel="nofollow">Buy now</a>
           {% endif %}
         </p>
        
      </div>
    </div>
    <!-- End -->

{% endfor %}



