{% assign items = (site.productitems | sort: "score" | reverse ) %}
<!-- TOC -->
<div class="table-of-content">
  <ul>
    {% for item in items %}
    {% if item.tags contains page.category %}
    <li><a href="#{{ item.title | replace: " ", "-" | downcase }}-{{ item.vendor | replace: " ", "-" | downcase }}">{{ item.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<!-- END TOC -->
{% for item in items %}
{% if item.tags contains page.category %}
<h3 class="light h5 header" id="{{ item.title | replace: " ", "-" | downcase }}-{{ item.vendor | replace: " ", "-" | downcase }}">{{ item.title }} - {{ page.title }}</h3>
<div class="col-sm-12">
  <div class="browser-window">
    <div class="top-bar">
      <div class="circles">
         <div class="circle close-circle"></div>
         <div class="circle minimize-circle"></div>
         <div class="circle maximize-circle"></div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-sm-12 site-layout-example-right">
            <amp-img src="{{ item.image }}"  alt="{{ item.title }}" layout="responsive" />
        </div>
      </div>
    </div>
  </div>
</div>

{{ item.content }}

<p>
  <a target="_blank" rel="nofollow" href="{{ site.url }}{{ item.url }}" class="pt-2 pb-2 btn btn-soft-primary text-white transition-3d-hover mp-bg-blue">Buy now</a>
</p>
<hr>
{% endif %}
{% endfor %}



