{% assign items = (site.productitems | where:"collection_id", page.key | reverse) %}

{% for item in items %}

<!-- Start -->
    <div class="product-item-row row mb4" id="{{ item.slug}}">
      <div class="col-sm-12 col-lg-6">
         <a href="{{item.product_url}}" target="_blank" rel="nofollow"></a><amp-img src="{{ item.product_image }}"
                width="500"
                height="333"
                layout="responsive"
                alt="{{ item.title }}"
                class="mt3"
              ></amp-img></div>
      </div>
      <div class="col-sm-12  col-lg-6">
      <h3 class="ml2 mt2">{{ forloop.index }}. {{ item.title }}</h3>
         <p class="mt4 mb4 px3">
           {{ item.content }}
         </p>
         <p class="mb4 px3">
          {% if item.vendor %}
           <a href="{{item.product_url}}" class="ampstart-btn" target="_blank" rel="nofollow">Buy on {{ item.vendor }}</a>
           {% else %}
            <a href="{{item.product_url}}" class="ampstart-btn" target="_blank" rel="nofollow">Buy now</a>
           {% endif %}
         </p>
        
      </div>
    </div>
    <!-- End -->

{% endfor %}



